:root{
    --desktop-color: rgba(51, 71, 176, 1);
    --barra-color: rgba(238, 239, 248, 1)
}

main {
    display: flex;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-evenly;
    padding: 65px 0px;
}

.card-aluno {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    align-items: center;
    font-size: 1.3rem;
    gap: 20px;
    justify-content: center;
    color: var(--desktop-color);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    text-shadow: #2525 0.1em 0.1em 0.3em;
    text-align: center;
    

}
.card-nota {
    display: flex;
    height: 500px;
    width: 700px;
    padding: 60px;
    justify-content: space-evenly;
    gap: 34px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    
}
.materia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.aluno {
    width: 350px;
    height: 350px;
}
.media-vermelha{
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: #C11010;
}
.media-amarela{
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: #E5B657;
}
.media-azul{
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: #3347B0;
}
.sigla {
    text-shadow: #2525 0.1em 0.1em 0.3em;
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--desktop-color);
}

.barra {
    background-color: var(--barra-color);
    height: 343px;
    width: 15px;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.nota-baixa {
    height: 20%;
    border-radius: 6px 6px 0px 0px;

    /*nota Vermelha*/
    background-color: #C11010;
    box-shadow: 0px 0px 10px 10px rgba(209, 1, 1, 0.25);
}

.nota-media {
    height: 55%;
    border-radius: 6px 6px 0px 0px;

    /*nota Amarela*/
    background-color: #E5B657;
    box-shadow: 0px 0px 10px 10px rgba(255, 230, 0, 0.25);
}

.nota-alta {
    height: 100%;
    border-radius: 6px 6px 0px 0px;

   /*nota Azul*/
    background-color: #3347B0;
    box-shadow: 0px 0px 10px 10px rgba(0, 60, 255, 0.25); 
}

@media (max-width:640px) { 
    main {
        flex-direction: column;
        gap: 70px;
        padding: 42px 0px;
    }
    .aluno {
        width: 125px;
        height: 125px;
    }
    .card-aluno {
        height: 300px;
        width: 200px;
        gap: 10px;
        /* border: 2px solid var(--desktop-color); */
    }
    .card-nota {
        height: 250px;
        max-width: 350px;
        padding: 25px 0px;
        gap: 12px;
    }
    .sigla {
        font-size: .9rem;
    }
}