body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 140px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --desktop-color: rgba(51, 71, 176, 1);
}

header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
    color: #ffff;
    background-color: var(--desktop-color);
}


footer {
    display: flex;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
    background-color: var(--desktop-color);
    font-weight: 400;
}